---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found">
  <div class="flex flex-col justify-center items-center">
    <h1>Esta página no existe...</h1>
    <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif" alt="404 not found">
  </div>
</Layout>