---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Abour page">
  <h1>About SpaceX launches page</h1>
  
  <p>The SpaceX launches project is a demo for the Astro course</p>
</Layout>